// Custom styles.
#posts > div > div > div > div.tag-cloud-tags > a{
  background: #F4F4F4;
  color: #545454 !important;
  padding: 0 10px; 
  border-radius: 10px;
  border-bottom: 1px solid #999;
}
#posts > div > div > div > div.tag-cloud-tags > a:hover{
    border-bottom: 1px solid #666;
}
