// Custom styles.
#posts > div > div > div > div.tag-cloud-tags > a{
  background: #F4F4F4;
  color: #545454 !important;
  padding: 0 10px; 
  border-radius: 10px;
  border-bottom: 1px solid #999;
}
#posts > div > div > div > div.tag-cloud-tags > a:hover{
    border-bottom: 1px solid #666;
}

h1 {
  font-size: 32px;
  border-bottom: 2px solid #ccc;
}
@media (max-width: 767px) {
  h1 {
    font-size: 26px;
  }
}

h2 {
  font-size: 26px;
}
@media (max-width: 767px) {
  h2 {
    font-size: 20px;
  }
}

h3 {
  font-size: 20px;
}
@media (max-width: 767px) {
  h3 {
    font-size: 14px;
  }
}

